html,body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(62, 64, 66);
    color: rgb(27, 184, 7);
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./background2.jpg");
    background-size: cover;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 330%;
    font-weight: 700;
    position: absolute;
    left: 40%;
    margin: 0;
}

pre{
    width: 30%;
    position: absolute;
    top: 10%;
    left: 44%;
}